.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 16px;
  margin-left: 16px;
  padding: 24px 0;
  position: relative;
}

.container {
  // padding: 0 var(--defaultLayout-horizontal-spacer);
  width: var(--defaultLayout-header-width);
  max-width: 100%;
  margin-top: 60px;
  display: flex;
}

.content {
  flex: 1;
  padding-left: 64px;
  margin-left: 356px;
}
